* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

a,
input,
input::placeholder,
ul,
h1,
h3,
span,
textarea,
select,
img {
  transition: 0.5s ease;
  animation: 0.75s ease forwards fade-in;
}

@keyframes fade-in {
  0% {
    /* transform: translateX(200px); */
    opacity: 0;
    /* display: none; */
  }

  100% {
    /* transform: translateX(0px); */
    opacity: 1;
    /* display: contents; */
  }
}

.ViewBuyer_Main {
  display: block;
  width: 100%;
  height: 100%;
}

.buyer-overlay {
  background: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 10;
}

.SearchBar_div {
  width: 100%;
  top: 0;
  height: 22%;
  background-color: black;
  text-align: center;
}

.SearchBarInfo_div {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left:15px;
  a {
    color: white;
    float: left;
    padding-bottom: 4px;
  }
}


.SearchBarRow_first {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
}

#BuyerSearchName_edt {
  margin-right: 15px;
  min-height: 32px;
  width: 200px;
  padding-left: 10px;
}

#BuyerSearchPropertyType_cmbx {
  margin-right: 15px;
  min-height: 32px;
  width: 200px;
  padding-left: 10px;
}

#BuyerSearchArea_edt {
  margin-right: 15px;
  min-height: 32px;
  width: 220px;
  padding-left: 10px;
}

.SearchBarRow_second {
  display: flex;
  text-align: center;
  align-items: center;
  width: 50%;
  padding-bottom: 20px;
}

#BuyerMinPrice_edt {
  margin-right: 15px;
  min-height: 32px;
  width: 100px;
  padding-left: 10px;
}

#BuyerMaxPrice_edt {
  margin-right: 15px;
  min-height: 32px;
  width: 100px;
  padding-left: 10px;
}

#BuyerSearchRentOrBuy_cmbx {
  margin-right: 15px;
  min-height: 32px;
  width: 200px;
  padding-left: 10px;
}

#BuyerSearch_btn {
  border: none;
  border-radius: 2px;
  background-color: red;
  color: white;
  width: 110px;
  height: 32px;
  outline: none;
  transition: all 0.5s;
  margin-top: 24px;
  cursor: pointer;
  font-size: 14px;
}

#BuyerSearch_btn:hover {
  background-color: white;
  color: purple;
}

.BuyerDetailsMain_div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Buyers_txt {
  font-size: 50px;
  margin-left: 10.07%;
}

#SortBy_cmbx {
  margin-left: 10.07%;
  height: 32px;
  width: 200px;
  border: solid 1px;
  padding-left: 10px;
}

#Buyer_Count {
  color: black;
  font-size: 15px;
  font-weight: bold;
  float: left;
  margin-left: 10.07%;
  margin-top: 15px;
}

/* Back to top Button CSS */
.BackToTop_Btn {
  position: fixed;
  overflow: hidden;
  right: 15px;
  bottom: -40px;
  border-radius: 2px;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  width: 150px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

.BackToTop_Btn.active {
  bottom: 15px;
}

.BackToTop_Btn:hover {
  background-color: rgb(66, 29, 102);
}
/* Back to top Button CSS END */

select {
  -webkit-appearance: none;
  /* for webkit (safari, chrome) compatibility */
  -moz-appearance: none;
  /* for firefox compatibility */
  appearance: none;
  background-image: url("src/assets/icons/expand-button.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px; 
  background-position-x: 99%;
  animation: 0.75s ease forwards fade-in;
}

.Buyer_View {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 90%;
  margin-top: 40px;
  margin-left: 5.15%;
  transition: all 0.75s ease;
  justify-content: center;
}
 
.Buyer_Box {
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
  margin: 15px;
  transition: all 0.5s ease;
}

.Buyer_Img {
  height: 100%;
  width: 100%;
  position: relative;
  img {
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.Buyer_Box:hover {
  background-image: linear-gradient(to top right, rgba(222, 62, 27, 0.15), rgba(80, 25, 116, 0.15));
  transform: scale(1.03);
  img{
    filter: drop-shadow(0 0 0.5rem black);
    transition: all 0.5s ease;
  }
}

h2 {
  color: white;
  background: black;
  font-size: 25px;
  text-align: center;
}

.Buyer_Details {
  h4{
    margin-left: 2px;
    margin-top: 3px;
  }
  li {
    list-style: none;
    color: black;
  }
  a{
    color: rgb(216, 4, 4);
    margin-left: 8px;
  }
}

.IconsRow_Div {
  display: flex;
  width: 70%;
  height: 26px;
  margin-top: 5px;
}

.PopUpIcons {
  height: 25px;
  width: 25px;
  margin-right: 3px;
}

.IconLabels {
  margin-right: 3px;
  margin-left: 10px;
  color: red;
  font-weight: bold;
  margin-top: 3px;
}

#BuyerOverlay_btn{
  color: white;
  background: rgb(216, 4, 4);
  border: none;
  margin: 5px;
  margin-left: 8px;
  cursor: pointer;
  height: 32px;
  width: 280px;
  border-radius: 1px;
  outline: none;
}

#BuyerOverlay_btn:hover{
  background: black;
  transition: ease-in-out 0.4s;
}

.showing {
  margin-bottom: 15px;
  margin-left: 45%;
}

@keyframes fade-and-grow-in {
  0% {
    opacity: 0;
    scale: (0);
  }

  100% {
    opacity: 1;
    scale: (1);
  }
}
